body{
    background-color: black;
    color: white;
    margin: 0;
}
.header{
    padding-top: 0px;
    position: fixed;
    width: 100%;
    height: 92px;
    text-align: center;
    background: white;
    border-top: solid black 5px;
    border-bottom: solid black 5px;
    color: #CE7D35; 
}
/*MENU*/
.dropdown{
    margin-top: -80px;
    position: fixed;
}
a{
    text-decoration: none;
    color: #CE7D35;
}
.nav{
    width: 100%;
}

.nav ul{
	list-style: none;
}

.menu > li{
	position: relative;
    display: inline-block;
    right: 24px;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #CE7D35;
	text-decoration: none;
}

.menu li a:hover{
	color: black;
    transition: all .3s;
    left: -114px;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: black;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
    text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
        /*LADO*/
.lado{
    padding-top: 100px;
    width: 40%;
    text-align: center;
    float: right;
    border: solid black 3px;
    background: white;
}
#lbz{
    width: 60%;
}
        /*INDICE*/
.nav1{
    padding-top: 100px;
    float: left;
    width: 57%;
    border: solid black 3px;
    background: white;
}
        /*SINOPSIS*/
.divsinopsis{
    text-align: center;
    clear: left;
    padding-bottom: 10px; 
}
        /*GALERIA*/
.galeria{
    margin-top: -16px;
    padding-top: -10px;
    display: inline-block;
}
.divimg{
    float: left;
    width: 50%;
    padding-bottom: 81px;
}
.divvid{
    float: right;
    width: 50%;
}
.img{
    width: 49%;
}
.vid{
    width: 80%;
}
        /*CINES*/
.cines{
    padding-top: 15px;
    margin-top: -20px;
    padding-bottom: 20px;
}
        /*ACTORES*/
.divh2{
    text-align: center;
    color: #CE7D35;
}
.actores{
    padding-top: 10px;
    padding-bottom: 20px;
}
        /*PREMIOS*/
.premios{
    padding-top: 10px;
    padding-bottom: 20px;
}
.h3pre{
    text-align: center;
}
#ganados{
    float: left;
    width: 50%;
}
#nominados{
    float: right;
    width: 50%;
    height: 200px;
}
h4{
    text-align: center;
    font-size: 14px;
}
table,tr,td{
    border: solid white 3px;
    text-align: center;
    margin-left: 40%;
}
#platino{
    clear: both;
    padding-bottom: 20px;
}
#gan-nom{
    margin-bottom: 90px;
}
ul{
    text-align: justify;
}
#formu{
    padding-top: 10px;
    width: 100%;
}
fieldset{
    width: 40px;
}
textarea{
    width: 900px;
}
#links{
    font-size: 40px;
}
#correu{
    float: right;
}
#nom{
    float: left;
}